.about-wrapper
  text-align: center
  padding-top: 15vh
  background: #FFFFFF

  div
    h2
      color: #333333
      font-family: 'Roboto', sans-serif
      font-size: 40px
      padding-bottom: 10vh

  .tech-list
    color: #333333
    font-family: 'Roboto', sans-serif
    font-size: 24px
    h3
      padding-bottom: 5vh
    ul
      li
        padding-top: 1vh
        padding-bottom: 1vh
