*
  margin: 0
  padding: 0
  border: 0

.profile-wrapper
  background: url('http://trek.scene7.com/is/image/TrekBicycleProducts/2017_FuelEx_Gallery1?wid=1920&hei=1080&fmt=jpg&qlt=50,1&op_usm=0,0,0,0&iccEmbed=0&cache=on,on') no-repeat
  background-size: cover
  height: 100vh

  .greeting
    padding-top: 12vh
    text-align: center
    color: #e6e6e6
    font-family: 'Roboto', sans-serif
    padding-bottom: 10vh
    font-size: 36px
    margin-bottom: 10vh

  .shop-button-contain
    display: flex
    flex-direction: row
    justify-content: center

    .shop-button
      border-radius: 5%
      width: 125px
      height: 40px
      text-align: center
      padding-top: 10px
      border: none
      color: #292929
      background-color: #e6e6e6
      cursor: pointer
      transition-duration: 0.4s
      text-decoration: none
      letter-spacing: 1px
      font-size: 24px

    .shop-button:hover
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      color: #e6e6e6
      background-color: #292929

  .cart-button-contain
    display: flex
    flex-direction: row
    justify-content: center

    .cart-button
      border-radius: 5%
      width: 125px
      height: 40px
      text-align: center
      padding-top: 10px
      border: none
      color: #e6e6e6
      background-color: #292929
      cursor: pointer
      transition-duration: 0.4s
      text-decoration: none
      letter-spacing: 1px
      margin-top: 20px
      font-size: 24px

    .cart-button:hover
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      color: #292929
      background-color: #e6e6e6
